<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.littlebit.hearingaid.b">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="耳みみエイド"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".FittingActivityLeft"
            android:exported="false" />
        <activity
            android:name=".HearingProfileActivityRight"
            android:exported="false" />
        <activity
            android:name=".HearingProfileActivityLeft"
            android:exported="false" />
        <activity
            android:name=".HearingProfileMenuActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EasysettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplaySettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".infoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HearingProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FittingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".PremiumRequiredActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" /> <!-- サービス登録 -->
        <service
            android:name=".AudioStreamService"
            android:foregroundServiceType="microphone|mediaProjection"
            tools:ignore="Instantiatable" />
    </application>

</manifest>